* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #10121c;

    --color-succes: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);

    --color-a: #8f8f8f;
    --color-bg1: #2e3267;
    --color-bg2: #4a5294;
    --color-bg3: #151515;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-light2: #d2ccf1;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background-color: var(--color-primary);
}

.absolute {
    position: absolute;
    top: 50px !important;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.bg-shape1 {
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    position: relative;
    animation: one 10s infinite;
}

.bg-shape2 {
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    position: relative;
    animation: two 10s infinite;
}

.bg-shape3 {
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    position: relative;
    animation: three 10s infinite;
}

@keyframes one {
    0%{left: 0px; top: 0px;}
    25%{left: -100px; top: 70px;}
    50%{left: 20px; top: 150px;}
    75%{left: 50px; top: 100px;}
    100%{left: 0px; top: 0px;}
}

@keyframes two {
    0%{left: 0px; top: 0px;}
    25%{left: 50px; top: 10px;}
    50%{left: 100px; top: 50px;}
    75%{left: 50px; top: 100px;}
    100%{left: 0px; top: 0px;}
}

.opacity-50 {
    opacity: .5;
}

.bg-blur {
    filter: blur(90px);
}

.bg-primary {
    background-color: rgb(48, 22, 247);
}

.bg-teal {
    background-color: rgba(216, 79, 154, 0.7);
}

.bg-purple {
    background-color: rgba(140, 0, 215);
}

/* ========================================================================== */

/* smooth animation */

.hidden {
    opacity: 0;;
    transition: all .5s;
}

.show {
    opacity: 1;
}

@media (prefers-reduce-motion) {
    .hidden {
        transition: none;
    }
}
/* ========================================================================= */

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: .5rem 1rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 10px;
}

.btn:hover {
    background-color: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

/* ==================== NAVBAR ==================== */

nav {
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

/* change navbar style when scroll */
.window-scroll {
    background-color: transparent;
    backdrop-filter: blur(100px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web__logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
    }
    a {
        font-family: "Unbounded", sans-serif;
    }
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.nav_menu a {
    font-size: 0.95rem;
    transition: var(--transition);
    color: var(--color-a);
    font-weight: 400;
}

.nav_menu a:hover {
    color: var(--color-white);
    transition: 0s;
}

.nav_menu .contact {
    background-image: linear-gradient(to bottom right, #f75842, #5862bb);
    color: var(--color-primary);
    padding: 1.5px 1rem;
    border-radius: 100px;
    a {
        color: var(--color-primary);
        transition: .1s;
        font-weight: 500;
    }
}

nav button {
    display: none;
}

/* ==================== HEADER ==================== */

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 86vh;
    margin-bottom: 5rem;
}

.header_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header_left h2 {
    span {
        color: var(--color-bg2);
        font-family: "Unbounded", sans-serif;
    }
}

.glow::after {
    content: " 🚀";
}

.header_left p {
    margin: 1rem 0 2.4rem;
}

.header_right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header_right_container {
    height: 50vh;
    width: 32vw;
    background-color: var(--color-light2);
    border-radius: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4px;
    gap: 4px;
}

.right_left_container {
    border-radius: 20px;
    overflow: hidden;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.8s;
    }
    img:hover {
        transform: scale(1.1);
    }
}

.right_right_container {
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
}

.right-upper-container, .right-lower-container {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-white);
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main-section-icon {
        background: var(--color-light2);
        padding: 0.4rem;
        border-radius: 0.8rem;
        color: var(--color-primary);
    }
    p {
        color: var(--color-light2);
    }
}

.lower-text {
    font-weight: 400;
    color: var(--color-primary);
    font-size: .8rem;
    line-height: 1.3;
    font-family: "Comfortaa", sans-serif;
}

/* ==================== CATEGORIES SECTION ==================== */

.categories {
    margin-top: 12rem;
    background-image: linear-gradient(to bottom right, #5862bb, #39417d, #262c6aa9 , #252b5e);
    height: 30rem;
    border-radius: 200px 200px 200px 200px ;
}

.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
    font-family: "Unbounded", sans-serif;
    color: #ffffff60;
}

.categories_container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories_left {
    margin-right: 4rem;
}

.categories_left p {
    margin: 1rem 0 3rem;
}

.categories_right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.category {
    background-image: linear-gradient(to bottom right, #5862bb, #4a5294, #2e3267);
    padding: 1.5rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.category:nth-child(2) .category_icon{
    background: var(--color-danger);
}

.category:nth-child(3) .category_icon{
    background: var(--color-succes);
}

.category:nth-child(4) .category_icon{
    background: var(--color-warning);
}

.category:nth-child(5) .category_icon{
    background: var(--color-succes);
}

.category_icon {
    background: var(--color-primary);
    padding: 0.6rem;
    border-radius: 0.9rem;
}

.category h5 {
    margin: 2rem 0 1rem;
}

.category p {
    font-size: 0.85rem;
}

/* ==================== POPULAR COURSES ==================== */

.courses {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.courses p {
    font-family: "Unbounded", sans-serif;
    text-align: center;
    margin-bottom: 7rem;
    font-size: 4.5rem;
    color: #ffffffb9;
}

.courses_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course {
    background: var(--color-bg3);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid var(--color-bg3);
}

.course__image {
    transition: .6s;
}
.course__image:hover {
    transform: scale(1.05);
}

/* ==================== FAQS ==================== */

.faqs {
    background-image: linear-gradient(to bottom right, #1d2142, #232a768f, #39417d, #5862bb);
    box-sizing: insert 0 0 3rem rgba(0, 0, 0, 0.5);
    border-radius: 250px 250px 0 0;
}

.faqs h2 {
    font-family: "Comfortaa", sans-serif;
}

.faqs_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8rem;
}

.faq {
    padding: .9rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    height: fit-content;
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 20px;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq_icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p {
    display: block;
}

/* ==================== TESTIMONIALS ==================== */

.testimonials__container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimonials__container h1 {
    span {
        font-size: 1.5rem;
        color: #e46251;
        text-shadow: 0.5rem 0.7rem 2rem var(--color-danger-variant);
        font-weight: 400;
    }
    font-family: "Unbounded", sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5.5rem;
    color: #ffffffb9;
}

.testimonial {
    padding-top: 2rem;
}

.avatar {
    height: 5rem;
    width: 5rem;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 2px solid transparent;
}

.testimonial__info {
    text-align: center;
}

.testimonial__body {
    background: var(--color-bg3);
    padding: 2rem;
    margin-top: 2rem;
    position: relative;
    border-radius: 20px;
    font-size: 14px;
}

.testimonial__body::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 45%;
    top: -1rem;
    transform: rotate(45deg);
    background: linear-gradient(
        135deg, 
        var(--color-bg3),
        var(--color-bg3),
        var(--color-bg3)
    );
}

/* ==================== FOOTER ==================== */

footer {  
    background-image: linear-gradient(to bottom right, #1d2142, #2a317c8f, #2e3463, #212655);
    padding-top: 3rem;
    font-size: 0.9rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10rem;
    font-size: 13px;
    font-family: "Comfortaa", sans-serif;
}

.footer__container > div h4 {
    margin-bottom: 1rem;
}

.footer__1 p {
    /* margin: 0 0 5rem; */
}

footer ul li {
    /* margin-bottom: 0.2rem; */
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
    img {
        height: 1.5rem;
        border-radius: 5px;
    }
}

.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem 0;
    border-top: 1px solid var(--color-bg2);
    letter-spacing: 1px;
    font-family: "Comfortaa", sans-serif;
}

